src/lib/n8n-converter/__tests__/fixtures/branching-workflow.json
{
  "name": "Branching Workflow",
  "nodes": [
    {
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0],
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-test"
      },
      "webhookId": "test-webhook-id"
    },
    {
      "id": "2",
      "name": "Check Condition",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [200, 0],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.type }}",
              "rightValue": "premium",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "3",
      "name": "Premium Handler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [400, -100],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/premium"
      }
    },
    {
      "id": "4",
      "name": "Standard Handler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [400, 100],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/standard"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Check Condition", "type": "main", "index": 0 }]
      ]
    },
    "Check Condition": {
      "main": [
        [{ "node": "Premium Handler", "type": "main", "index": 0 }],
        [{ "node": "Standard Handler", "type": "main", "index": 0 }]
      ]
    }
  }
}
